.ipynb_checkpoints/
dataset/
wav2vec2-pretrained-demo/
saved/
huggingface-hub/
models/
*.gz
*.tar
*.out
data/
train_data
txt_data/
*.binary
examples/
cache/
README.md
output/
kenlm/
augmented_data/
*.txt
*.jsonl
logger/
*.txt
base/base_trainer_train_logs_ema.py
base/base_trainer_val_logs_ema.py
*/__pycache__/
ASR_trainer/trainer_train_logs_ema.py
ASR_trainer/trainer_val_logs_ema.py
Visualize/
saved/
visualize.py
temp/